@model  WebIoT.Models.User

@{
    ViewBag.Title = "Настройки";
}

<h2>Настройки</h2>

@if (Request.IsAuthenticated)
{
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab1" data-toggle="tab">API KEYS</a></li>
            <li><a href="#tab2" data-toggle="tab">Структура данных</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <div class="col-xs-12 col-sm-6">
                    <h2>Key API для записи</h2>
                    <div class="well well-large">
                        @Html.DisplayFor(modelItem => Model.KeyAPI)
                    </div>
                    <h2>Key API для чтения</h2>
                    <div class="well well-large">
                        @Html.DisplayFor(modelItem => Model.ReadKeyAPI)
                    </div>
                    <button id="NewKeyAPIGen" type="button" class="btn btn-warning">Получить новый Key API для чтения</button>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2>Помощь</h2>
                </div>
            </div>
            <div class="tab-pane" id="tab2">
                <div class="col-xs-12 col-sm-6">
                    <h2>Текущая структура данных</h2>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th>Имя</th>
                                <th>Тип данных</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (KeyValuePair<string, string> ShemaItem in ViewBag.Shema)
                            {
                                <tr>
                                    <td>@ShemaItem.Key</td>
                                    <td>@ShemaItem.Value</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h2>Помощь</h2>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h2>Нет доступа!</h2>
    <div class="well">
        @Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
    </div>
    <div class="well">
        @Html.ActionLink("Выполнить вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
}